body {
    margin: 0;
    font-family: 'Podkova', serif;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

/* Container
===========================*/
.container {
    width: 100%;
    max-width: 95%;
    margin: 0 auto;
}

/* Header 
===========================*/

.header {
    padding: 15px;
    background-color: #e8debd;
    border-bottom: 1px solid rgb(128, 122, 100);
}

.header.fixed {
    padding: 10px;
    width: 100%;
    position: fixed;
    background-color: #e8debd;
    z-index: 999;
}

.header.fixed .logo {
    padding-top: 3px;
    height: 60px;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.logo {
    height: 70px;
}

.nav {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.nav__link {
    font-size: 25px;
    text-decoration: none;
    color: black;
    transition: opacity .1s linear;
}

.nav__link:hover {
    opacity: .5;
}

.cart {
    width: 35px;
    height: 35px;
    transition: opacity .1s linear;
}

.cart:hover {
    opacity: .5;
}

/* Info 
========================*/
.about_us {
    height: 1080px;
    background-image: url(Image/Info.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
}

.about {
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 50px;
}

.about_title {
    color: #e8debd;
    font-size: 60px;
    text-align: center;
}

.about_text {
    color: #f3ecd2;
    font-size: 25px;
    line-height: 1.2;
}

.about_text span {
    font-size: 26px;
    color: white;
    line-height: 1.6;
}

/* Contacts
========================*/

.contacts {
    height: 1080px;
    background-image: url(Image/Catalog-2.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
}

.contacts__container {
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;

}

.contacts_title {
    text-align: right;
    font-size: 57px;
    color: #e8debd;
    font-weight: bold;
}

.contacts_subtitle {
    text-align: right;
    font-size: 26px;
    color: #e8debd;
}

.contacts_text {
    text-align: right;
    font-size: 26px;
    color: white;
}

.map__container {
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

.containers__maps {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
}

/* Footer 
====================================*/

.footer {
    padding-top: 40px;
    padding-bottom: 15px;
    background-color: #64534c;
}

.footer__inner {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.footer__block {
    width: 33.333%;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
}

.footer__text {
    color: #f7f5ee;
    font-size: 18px;
    text-align: center;
}

.city {
    margin: 0 auto 5px auto;
}

.street {
    margin: 0 auto;
}

.social__item {
    width: 90px;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity .1s linear;
}

.social__item:hover {
    opacity: .6;
}

.copyright {
    padding-top: 15px;
}

.copyright__text {
    text-align: center;
    color: #f7f5ee;
    font-size: 15px;
    line-height: 1.5;
}